 @model IEnumerable<MyContactBook.UI.Models.DTO.ContactDTO>
@{
}

<h1 class="mt-3">Contacts</h1>

<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="Contact" asp-action="Add">Add Contact</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ContactId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContactId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit" asp-route-id="@User.Identity"
                    class="btn btn-light">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
